name: CI
on:
  pull_request:
    branches:
      - main
    paths:
      - src/**/*
  push:
    branches:
      - main
    paths:
      - src/**/*
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build resume
        run: nix develop --command just build

      - name: Check PDF was created
        run: test -f .build/resume.pdf
